---
import linkedinLogo from '../assets/linkedin.svg';
import githubLogo from '../assets/github.svg';
import speedrunLogo from '../assets/speedrun.svg';
import npmLogo from '../assets/npm.svg';
import mediumLogo from '../assets/medium.svg';
import devLogo from '../assets/dev.svg';
---

<style>
  .list-profiles {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.25em;
  }

  .list-profiles li {
    display: inline-block;
    /* opacity: 0.8; */
    transition: opacity, transform 0.2s ease-in-out;
  }

  .list-profiles li:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  .list-profiles a {
    text-decoration: none;
    color: inherit;
  }

  .list-profiles img {
    width: 2.25em;
    height: 2.25em;
  }

</style>

<ul class="list-profiles">
  <li>
    <a href="https://github.com/dartbotapp" target="_blank" title="GitHub dartbotapp">
      <img src={githubLogo.src} alt="GitHub logo" />
    </a>
  </li>
  <li>
    <a href="https://github.com/enderer" target="_blank" title="GitHub enderer">
      <img src={githubLogo.src} alt="GitHub logo" />
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/marshs/" target="_blank" title="LinkedIn marshs">
      <img class="icon-profiles" src={linkedinLogo.src} alt="LinkedIn logo" />
    </a>
  </li>
  <li>
    <a href="https://www.npmjs.com/~enderer" target="_blank" title="NPM enderer">
      <img class="icon-profiles" src={npmLogo.src} alt="NPM logo" style="width:3.25em" />
    </a>
  </li>
  <li>
    <a href="https://medium.com/@dartbot" target="_blank" title="Medium @dartbot">
      <img class="icon-profiles" src={mediumLogo.src} alt="Medium logo" />
    </a>
  </li>
  <li>
    <a href="https://dev.to/dartbot" target="_blank" title="DEV dartbot">
      <img class="icon-profiles" src={devLogo.src} alt="DEV logo" />
    </a>
  </li>
  <li>
    <a href="https://www.speedrun.com/users/enderer" target="_blank" title="Speedrun enderer">
      <img class="icon-profiles" src={speedrunLogo.src} alt="Speedrun logo" />
    </a>
  </li>
</ul>
